<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete page</title>
</head>
<body>
    <h1>Delete page</h1>
    <h2 name="username" ><%=userData.username%></h2>
    <h3 name="email"><%=userData.email%></h3>
    <form method="post" action="/users/<%= userData.id%>?_method=DELETE">
        <input type="password" name="password">
        <button>Delete</button>
    </form>
    <h3 name="password"><%=userData.password%></h3>
</body>
</html>